# Core functionality - changes here should be rare!
/src/app.py                   @irfanr69
/src/backend/database.py      @irfanr69
/src/backend/routers/auth.py  @irfanr69

# The frontend will need refactored soon to be more object oriented.
/src/static/   @irfanr69
